#base {
  background: red;
  display: inline-block;
  height: 55px;
  margin-left: 20px;
  margin-top: 55px;
  position: relative;
  width: 100px;
  zoom: 5;
}
#base:before {
  border-bottom: 35px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

#roof1 {
  background: black;
  display: inline-block;
  height: 5px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: -20px;
  left: 47px;
  width: 67px;
  zoom: 5;
  transform: rotate(35deg);
}

#roof2 {
  background: black;
  display: inline-block;
  height: 5px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: -20px;
  left: -11px;
  width: 67px;
  zoom: 5;
  transform: scaleY(-1);
  transform: rotate(325deg);
}

#door {
  background: black;
  display: inline-block;
  height: 30px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: 26.7px;
  left: 43px;
  width: 20px;
  zoom: 5;
}

#topwindow {
  background: white;
  display: inline-block;
  height: 15px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: -7.7px;
  left: 43px;
  width: 20px;
  zoom: 5;
}

#leftwindow {
  background: white;
  display: inline-block;
  height: 15px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: 30px;
  left: 12px;
  width: 20px;
  zoom: 5;
}

#rightwindow {
  background: white;
  display: inline-block;
  height: 15px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: 30px;
  left: 72px;
  width: 20px;
  zoom: 5;
}

#lwvert {
	background: red;
  display: inline-block;
  height: 15px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: 30px;
  left: 21px;
  width: 2px;
  zoom: 5;
}
#lwh {
	background: red;
  display: inline-block;
  height: 2px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: 37px;
  left: 12px;
  width: 30px;
  zoom: 5;
}
#rwv {
  background: red;
  display: inline-block;
  height: 15px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: 30px;
  left: 81px;
  width: 2px;
  zoom: 5;
}

#rwh {
  background: red;
  display: inline-block;
  height: 2px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  top: 37px;
  left: 70px;
  width: 30px;
  zoom: 5;
}

